
sklearn-Titanic/Titanic_Result.xlsx
sklearn-Titanic/Titanic_predicted_01.csv
sklearn-Titanic/Titanic_predicted_02.csv
sklearn-Titanic/Titanic_predicted_03.csv
sklearn-Titanic/Titanic_predicted_04.csv
sklearn-Titanic/Titanic_predicted_05.csv
sklearn-Titanic/Titanic_predicted_06.csv
sklearn-Titanic/Titanic_predicted_07.csv
sklearn-Titanic/Titanic_predicted_08.csv
sklearn-Titanic/Titanic_predicted_09.csv
sklearn-Titanic/Titanic_tree_01.png
sklearn-Titanic/Titanic_tree_02.png
sklearn-Titanic/Titanic_tree_03.png
sklearn-Titanic/Titanic_tree_04.png
sklearn-Titanic/Titanic_tree_05.png
sklearn-Titanic/Titanic_tree_06.png
sklearn-Titanic/Titanic_tree_07.png
sklearn-Titanic/Titanic_tree_08.png
sklearn-Titanic/Titanic_tree_09.png
sklearn-iris/iris_getdata_corr_A.csv
sklearn-iris/iris_getdata_corr_B.csv
sklearn-iris/iris_getdata_corr_C.csv
sklearn-iris/iris_getdata_describe.csv
sklearn-iris/iris_getdata_pairplot-A.png
sklearn-iris/iris_getdata_pairplot-B.png
sklearn-iris/iris_getdata_pairplot.png
sklearn-iris/iris.csv
sklearn-iris/iris_getdata.txt
sklearn-iris/iris_getdata_pairplot-C.png
*.png
sklearn-Titanic/Titanic_forest_predicted_01.csv
sklearn-Titanic/Titanic_forest_predicted_02.csv
sklearn-Titanic/Titanic_forest_predicted_03.csv
sklearn-Titanic/Titanic_forest_predicted_04.csv
sklearn-Titanic/Titanic_forest_predicted_05.csv
sklearn-Titanic/Titanic_forest_predicted_06.csv
sklearn-Titanic/Titanic_forest_predicted_07.csv
sklearn-Titanic/Titanic_forest_predicted_08.csv
sklearn-Titanic/Titanic_forest_predicted_09.csv
sklearn-Titanic/Titanic_tree_predicted_01.csv
sklearn-Titanic/Titanic_tree_predicted_02.csv
sklearn-Titanic/Titanic_tree_predicted_03.csv
sklearn-Titanic/Titanic_tree_predicted_04.csv
sklearn-Titanic/Titanic_tree_predicted_05.csv
sklearn-Titanic/Titanic_tree_predicted_06.csv
sklearn-Titanic/Titanic_tree_predicted_07.csv
sklearn-Titanic/Titanic_tree_predicted_08.csv
sklearn-Titanic/Titanic_tree_predicted_09.csv
sklearn-Titanic/~$Titanic_Result.xlsx
